# Servidor
PORT=3000
CORS_ORIGIN=http://localhost:5173

# Base de datos (Prisma)
DATABASE_URL="postgresql://postgres:cambiame@localhost:5432/huellas_sin_hogar?schema=public"

# Autenticación
JWT_SECRET=cambiame
JWT_EXPIRES_IN=1d
